body {
    background-color: black;
    color: white;
    background-size: cover;
    background-position: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section {
    background-color: rgb(4, 37, 4);
    padding: 20px;
    width: 50%;
    border-radius: 50px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h3 {
    font-family: 'Dancing Script', 'cursive';
  }
  